[user]
	name = <name>
	email = <email-address>

[color]
    diff = auto
    status = auto
    branch = auto
    ui = auto

[core]
    editor = vim

[sed]
    fixcrdiff = "1h;1!H;${;g;s/(diff[^\\n]+\\nindex[^\\n]+\\n\\-\\-\\-[^\\n]+\\n\\+\\+\\+[^\\n]+\\n(<@@[^\\n]+\\n@@[^\\n]+\\n)*)+diff/diff/g;s/(<@@[^\\n]+\\n@@[^\\n]+\\n)+@@/@@/g;s/(<@@[^\\n]+\\n@@[^\\n]+\\n)+diff/diff/g;s/(diff[^\\n]+\\nindex[^\\n]+\\n)+diff/diff/g;s/diff[^\\n]+\\nindex[^\\n]+\\n\\-\\-\\-[^\\n]+\\n\\+\\+\\+[^\\n]+$//;p;}"

[alias]
    d = diff --no-ext-diff
    vd = diff
    vimdiff = diff

    # Some useful diff aliases
    ldiff = diff --name-only
    mdiff = diff --name-only --diff-filter=ACMRTUXB
    rdiff = diff --name-only --diff-filter=D
    cdiff = diff --name-only --diff-filter=CDMRTUXB

    # Some useful show aliases
    lshow = show --name-only

    # Some useful log aliases
    qlog = log --graph --pretty=format:'%Cgreen %h %Creset %an %Cblue %ad (%ar) %Cgreen %s %Creset %d' --abbrev-commit --decorate --parents --date=short
    head = log --pretty=tformat:'%C(yellow)%h %C(cyan) %ad %C(red) %an %Creset %s %C(blue bold)%d%Creset' --abbrev-commit --decorate --parents --date=short --first-parent -n32
    headf = log --graph --pretty=tformat:'%C(yellow) %h %C(cyan) %ad %C(red) %an %Creset %s %C(blue bold)%d%Creset' --abbrev-commit --decorate --parents --date=short -n32

    startdev = !sh -c 'git branch --track nd$0 `git remote`/trunk/stable && git checkout nd$0'
    pushdev = !sh -c 'B=`git symbolic-ref HEAD` && B=`basename $B` && git push `git remote` $B:dev/`whoami`/$B'
    pushnulldev = !sh -c 'B=`git symbolic-ref HEAD` && B=`basename $B` && git push `git remote` :dev/`whoami`/$B'

    # These are for internal use by the increview aliases, don't use these directly!
    crdiff = !bash -c 'diff --minimal --new-line-format=\"@%L\" --unchanged-line-format=\"~%L\" --old-line-format=\"<<%L\" <(git diff -M `git merge-base $2 $1 | cut -c -7` `git merge-base $4 $3 | cut -c -7` $5 $6 $7 $8 $9) <(git diff -M $2 $4 $5 $6 $7 $8 $9) | grep -E \"^(<<|@|~\\-\\-\\- |~\\+\\+\\+ |~index|~diff)\" | grep -Ev \"^<<index\" | cut -c 2- | sed -n -r -e `git config --get sed.fixcrdiff` | colordiff' -
    crdiffb = !bash -c 'diff --minimal --new-line-format=\"@%L\" --unchanged-line-format=\"~%L\" --old-line-format=\"<<%L\" <(git diff -M -b `git merge-base $2 $1 | cut -c -7` `git merge-base $4 $3 | cut -c -7` $5 $6 $7 $8 $9) <(git diff -M -b $2 $4 $5 $6 $7 $8 $9) | grep -E \"^(<<|@|~\\-\\-\\- |~\\+\\+\\+ |~index|~diff)\" | grep -Ev \"^<<index\" | cut -c 2- | sed -n -r -e `git config --get sed.fixcrdiff` | colordiff' -

    # git reviewfrom <base-commit> <commit>
    # Provides a diff of all changes between the base-commit and the specified commit, and provides information useful for crpass
    reviewfrom = !sh -c 'git diff -M `git merge-base $1 $2 | cut -c -7` $2 $3 $4 $5 $6 $7 $8 $9 | colordiff && git log --pretty=tformat:"%nCommit%x20ID:%x20%h%d" -n1 $2' -
    # As reviewfrom, but passes -b to diff to filter out whitespace changes
    reviewfromb = !sh -c 'git diff -M -b `git merge-base $1 $2 | cut -c -7` $2 $3 $4 $5 $6 $7 $8 $9 | colordiff && git log --pretty=tformat:"%nCommit%x20ID:%x20%h%d" -n1 $2' -

    # git review <commit>
    # Provides a diff of all changes between hub/trunk/stable and the specified commit, and provides information useful for crpass
    review = !sh -c 'git reviewfrom `git remote`/trunk/stable $1 $2 $3 $4 $5 $6 $7 $8' -
    # As review, but passes -b to diff to filter out whitespace changes
    reviewb = !sh -c 'git reviewfromb `git remote`/trunk/stable $1 $2 $3 $4 $5 $6 $7 $8' -

    # git increviewfrom <base-commit> <start-commit> <end-commit>
    # Provides a diff of all changes between the start-commit and the end-commit, filtering out the effects of any rebases onto the base-commit
    increviewfrom = !sh -c 'git crdiff $1 $2 $1 $3 $4 $5 $6 $7 $8 && git log --pretty=tformat:"%nCommit%x20ID:%x20%h%d" -n1 $3' -
    # As increviewfrom, but passes -b to diff to filter out whitespace changes
    increviewfromb = !sh -c 'git crdiffb $1 $2 $1 $3 $4 $5 $6 $7 $8 && git log --pretty=tformat:"%nCommit%x20ID:%x20%h%d" -n1 $3' -

    # git increview <start-commit> <end-commit>
    # Provides a diff of all changes between the start-commit and the end-commit, filtering out the effects of any rebases onto hub/trunk/stable
    increview = !sh -c 'git increviewfrom `git remote`/trunk/stable $1 $2 $3 $4 $5 $6 $7' -
    # As increview, but passes -b to diff to filter out whitespace changes
    increviewb = !sh -c 'git increviewfromb `git remote`/trunk/stable $1 $2 $3 $4 $5 $6 $7' -

    # git crpass nd<ticket-number> <commit>
    # Creates a code review passed tag, and removes a crfail branch, if one exists
    crpass = !sh -c 'git branch -D crfail/$1 > /dev/null 2> /dev/null | cat && H=`git rev-parse $2 | cut -c1-7` && git tag -a cr/$1/$H -m"CodeReviewPassed" $2 && git push `git remote` --tags' -

    # git crfail nd<ticket-number> <commit>
    # Creates a local branch crfail/nd<ticket-number> that can be used for incremental reviews
    crfail = !sh -c 'H=`git rev-parse $2 | cut -c1-7` && git branch -f crfail/$1 $H' -

    # git findcvs
    # Finds any modified files containing CVS headers
    findcvs = !sh -c 'test \"`git mdiff $1 $2`\" != \"\" && git mdiff $1 $2 | xargs git grep -E -l \"(\\\\\\$Header|\\\\\\$Name)\" $2' -

    # git tar
    # Creates a tarball based on modified files in a diff range
    # Usage: git tar <filename_without_extension> <start_commit> <end_commit> [<other git diff parameters>]
    tar = !sh -c 'git mdiff $2 $3 $4 $5 $6 $7 $8 $9 ${10} ${11} ${12} ${13} ${14} ${15} | tee ~/$1.txt | tar cfvzT ~/$1.tar.gz -' -
    tarforuat = !sh -c 'git mdiff $2 $3 $4 $5 $6 $7 $8 $9 ${10} ${11} ${12} ${13} ${14} ${15} | tee ~/$1.txt | tar cfvzT ~/$1.tar.gz - --exclude="styles" --exclude="htdocs/uk/styles" --exclude="htdocs/canada/styles"' -

    # git sendlive/delta2/delta3 - pretty much do what they say on the tin!
    # Usage: git sendlive <branch_name> [<live_reference_point>]
    sendlive = !sh -c '/u/support/scripts/upload_site_to_PRODUCTION.sh $1 $2 $3 $4 $5 $6 $7 $8 $9' -
    delta2 = !sh -c '/u/support/scripts/upload_site_to_delta2.sh $1 $2 $3 $4 $5 $6 $7 $8 $9' -
    delta3 = !sh -c '/u/support/scripts/upload_site_to_delta3.sh $1 $2 $3 $4 $5 $6 $7 $8 $9' -

    # get sendqa/sendprod - this is for AX only, don't use it for Production stuff!
    senduat = !sh -c '/u/support/scripts/upload_site_to_ax_uat.sh  $1 $2 $3 $4 $5 $6 $7 $8 $9' -
    sendprod = !sh -c '/u/support/scripts/upload_site_to_ax_prod.sh  $1 $2 $3 $4 $5 $6 $7 $8 $9' -

    # git treebase - wrapper for rebase to allow rebasing "trees" of commits (merges, etc)
    treebase = !bash -c '/u/support/scripts/git_treebase.sh $@' -

    tmerge = !sh -c 'test \"$2\" != \"\" && B=`git branch | grep \\* | cut -c 3-` && test \"$B\" != \"(no branch)\" && echo "\\*\\* Checking out $1" && git checkout $1 && echo "\\*\\* Rebasing onto $B" && git rebase $B && C=`git log -n1 | grep '^commit' | cut -c 8-` && echo "\\*\\* Merging onto $B" && git checkout $B && git merge --no-ff --no-commit --log $C && echo "\\*\\* Committing as author $2" && git commit --author \"$2\" $3 $4 $5 $6' -
    tmergec = !sh -c 'test \"$3\" != \"\" && B=$1 && C=`git log -n1 | grep '^commit' | cut -c 8-` && echo "\\*\\* Merging onto $B" && git checkout $B && git merge --no-ff --no-commit --log $C && echo "\\*\\* Committing as $3" && git commit --author \"$3\" $4 $5 $6 $7' -

    transfer = !sh -c 'B=`git branch | grep \\* | cut -c 3-` && test \"$B\" != \"(no branch)\" && echo "\\*\\* Rebasing $1^1..$1^2 onto $B" && git rebase --onto $B $1^1 $1^2 && C=`git log -n1 | grep '^commit' | cut -c 8-` && echo "\\*\\* Merging onto $B" && git checkout $B && git merge --no-ff --no-commit $C && echo "\\*\\* Committing with log from $1" && git commit -C $1' -
    transferc = !sh -c 'B=$1 && C=`git log -n1 | grep '^commit' | cut -c 8-` && echo "\\*\\* Merging onto $B" && git checkout $B && git merge --no-ff --no-commit $C && echo "\\*\\* Committing with log from $2" && git commit -C $2' -

    # git tradd - Adds the specified po files and compiles and adds their equivalent mo files
    tradd = "!sh -c 'for i in $@; do git add $i && msgfmt $i && F=`echo $i | rev | cut -c 3- | rev`mo && mv messages.mo $F && git add $F; done' -"

    # git traddall - Uses diff to find all modified po files and runs them through tradd (parameters for diff e.g. --cached can be used)
    traddall = !sh -c 'git tradd `git ldiff $@| grep .po$`' -
